<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
<title>Recharge</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">

    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>
<body>
    <div class="nav">
        <div class="container">
            <ul class="pull-left">
                <li class="icon-menu"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlklEQVQ4T82TwQ0CMQwEd9PItUAH8I4cQQdQGpSAkgJyndz1EcXICCR4xscDS5b8iMdeZU0AEJEDSbV6JHLOM1NKFcB+pPH9VlWrAYYnfw4zwAWApSeu9HR9bbAZEGPchRCOHlDv/U4RWUhOHgCAZRNAVVe+JJw8G7TW/uEXzEiqevZIIHn7iZXdxwRgflrZztkjoZRSH/PYL0UesTTbAAAAAElFTkSuQmCC"/></li>
                <li class="header"><a href="/chargeapp/maps">Recharge</a></li>
            </ul>
            <ul class="pull-right">
                {% if user.is_authenticated %}
                    <li><a href="/chargeapp/profile">My Profile</a></li>
                {% else %}
                    <li><a href="/chargeapp/create-user">Sign Up</a></li>
                    <li><a href="/chargeapp/login">Login</a></li>
                 {% endif %}
            </ul>
        </div>
    </div>
    <div class="menu">
        <div id="wrapper">

            <!-- Sidebar -->
            {% if user.is_authenticated %}
                {% with user_colour=user.userprofile.sidebar_colour|lower %}

                {% if user_colour == 'blu' %}
                    <div id="sidebar-wrapper" style="background: #1A4459">
                {% elif user_colour == 'gry' %}
                    <div id="sidebar-wrapper" style="background: #292929">
                {% elif user_colour == 'red' %}
                    <div id="sidebar-wrapper" style="background: #D94236">
                {% elif user_colour == 'grn' %}
                    <div id="sidebar-wrapper" style="background: #6CA633">
                {% else %}
                    <div id="sidebar-wrapper" style="background: #000000">
                {% endif %}

                {% endwith %}
            {% else %}
                <div id="sidebar-wrapper" style="background: #000000">
            {% endif %}

                <ul class="sidebar-nav">
                    <div class="icon-close">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA70lEQVQ4T42TwRHCIBBF/4YCtANbsAS9ZsKMdmAJWol2oqdctQRLiB2QAgjOZiCDYSHmCLyXZfdDWusTgCsAY609tm37RuGr63qrlLoDWAO4kNbaAFh5hiX7nMTDTw8zYqhpmo6INtFPRYkAwzn3Ib/xiqoYzXElEgygt9buiE+XJLyvlIrL5qUR5quOgpLEb3PDwjfBvDAJCpJ4Jj9wIliQJHBJML9z0thQlnQFCQ7nkxHPm5h025MhaEkl8RjFUfkxZnMSgpSd81JOpCiL3c6ErZs/JhEuhK1nAT/nm3PODMNw+Oc5V1X1ICJO5/kLbO+98o53jmMAAAAASUVORK5CYII="/>
                    </div>
                    <li><a href="/chargeapp/maps">Map all charging stations</a></li>
                    <li><a href="/chargeapp/list">List all charging stations</a></li>
                    <!-- Make it so only logged in users can add a station?-->
                    <li><a href="/chargeapp/new-charging-station">Add a new charging station</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <li><a href="/chargeapp/upload">Upload file</a></li>
                        <li><a href="/chargeapp/delete">Deletion</a></li>
                        {% endif %}
                        <li><a href="/chargeapp/use-charging-station">Use charging stations</a></li>
                        <li><a href="/chargeapp/logout">Logout</a></li>
                        <!-- <hr/> line in menu-->
                    {% else %}
                        <li><a href="/chargeapp/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
    
{% block content %}
{% endblock %}

                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
    </div>
    <!-- menu -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>