{% extends "chargeapp/base.html" %}

{% block content %}
{% if charging_stations %}
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Operator</th>
			<th>Address</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>In Use</th>
		</tr>
		{% for station in charging_stations %}
		<tr>
			<td>{{ station.id }}</td>
			<td>{{ station.operator }}</td>
			<td>{{ station.address }}</td>
			<td>{{ station.lat }}</td>
			<td>{{ station.lon }}</td>
			<td>{{ station.inUse }}</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No stations available.</p>
{% endif %}
{% endblock %}