{% extends "chargeapp/base.html" %}

{% block content %}

<h1 style="text-align:center">TWITTER</h1>
<hr/>

<p>
	{% if user.is_authenticated and not user.is_anonymous %}
	<p align="center">
		<b><i>Welcome {{ user.get_full_name|default:user.username }}!</i></b>
	</p>
	<br>
	<p align="center">
	<span class='st_twitter_large' displayText='Tweet'></span></p>
	<div align="center">
	<form action="posttw" align="center">
		<input type="submit" value="Tweet your Charging Station">
	</form></div>
	<p align="center">
		<a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
	</p>

	{% else %}
	<p align="center">
		<a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
	</p>
	{% endif %}
</p>

{% endblock %}