td,
th {
  padding: 5px;
}

body {
	left:0 ;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.nav {
	background-color: #80ffcc;
	height: 50px;
}

.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 20px 10px;
	text-transform: uppercase;
	position: relative;
	top: 13px;
}

.nav .pull-left {
	position: relative;
	left: -165px;
}

.nav .pull-right {
	position: relative;
	left: 80px;
}

.nav li {
	display: inline;
}

.sidebar-nav a {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 10px;
}

.sidebar-nav li {
	list-style-type: none;
	position: relative;
	top: 30px;
	left: 5px;
	margin: 0 0 20px 0;
}

.sidebar-nav {
	background: #cccccc;
  	left: -285px;  /* start off behind the scenes */
 	height: 100%;
 	position: fixed;
 	width: 285px;
 	top: 0px;
 	/* use z-index to overlay menu*/
}

.icon-menu {
	color: #000000;
	cursor: pointer;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	position: relative;
	top: 12px;
}

.icon-close {
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	top: 12px;
	left: -20px;
}

.header {
	/*margin: auto;*/
/*	margin-left: auto;
    margin-right: auto;*/
    position: relative;
	left: 20px;
}

.filter {
	padding-top: 11px;
	margin-bottom: -21px;
}